{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<header id="masthead" class="site-header" role="banner">
    <div class="inner cf">
        <p class="site-description">くじデモページです</p>
        <h1 class="site-title"><a href="{{ url('homepage') }}" title="{{ BaseInfo.shop_name }}" rel="home">{{ BaseInfo.shop_name }}</a></h1>
        <div class="snav cf">
            <div class="membership">
                <i class="fa fa-user"></i>
                <ul class="cf">
                    {{ include('Block/login.twig') }}
                </ul>
            </div>
            <div class="incart-btn ec-headerRole__cart">
                <a href="{{ url('cart') }}"><i class="fa fa-shopping-cart"><span>カートの中</span></i><span class="total-quant">{{ totalQuantity|number_format }}</span></a>
            </div>
        </div><!-- .snav -->  
    </div><!-- .inner -->
</header><!-- #masthead -->