<div class="main-image">
	<ul class="main_slider">
		<li>
			<a href="{{ url('product_detail', {'id': '1'}) }}"><img src="{{ asset('cube-1.png', 'save_image') }}" class="img-responsive"></a>
		</li>
		<li>
			<a href="{{ url('product_detail', {'id': '2'}) }}"><img src="{{ asset('sand-1.png', 'save_image') }}" alt="チャンネル会員限定くじ"></a>
		</li>
		<li>
			<a href="{{ url('product_detail', {'id': '1'}) }}"><img src="{{ asset('cube-1.png', 'save_image') }}" class="img-responsive" alt="チャンネル会員限定くじ"></a>
		</li>
	</ul>
</div><!-- main-image -->